[Unit]
Description=SecondStack Agent Manager Sandbox Host launcher
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/agentcy-vmlauncher
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PassEnvironment=AG_MICROVM_LAUNCHER_SOCKET AG_LOG_DIR AG_VM_LAUNCHER_SOCKET_GID AG_VM_LAUNCHER_ALLOWED_UID AG_VM_LAUNCHER_MANAGER_GID
PassEnvironment=AG_FIRECRACKER_PATH AG_FIRECRACKER_JAILER_PATH AG_VM_LAUNCHER_ARTIFACT_ROOT AG_MICROVM_KERNEL_PATH AG_MICROVM_ROOTFS_PATH AG_MICROVM_SHARED_IMAGE_PATH
PassEnvironment=AG_MICROVM_PUBLIC_KEY AG_MICROVM_PUBLIC_KEY_SHA256 AG_MICROVM_WORKSPACE_DIR AG_MICROVM_RUN_DIR AG_MICROVM_LOG_DIR AG_MICROVM_JAILER_CHROOT_BASE_DIR
PassEnvironment=AG_VM_LAUNCHER_STATE_DIR AG_VM_LAUNCHER_HARNESS_RESULT_DIR AG_MICROVM_BRIDGE_NAME AG_MICROVM_BRIDGE_CIDR AG_MICROVM_TAP_PREFIX
PassEnvironment=AG_MICROVM_JAILER_UID AG_MICROVM_JAILER_GID AG_MICROVM_JAILER_CGROUP_VERSION AG_MICROVM_JAILER_PARENT_CGROUP AG_MICROVM_MEMORY_MIB AG_MICROVM_VCPUS
PassEnvironment=AG_MICROVM_CPU_TEMPLATE AG_MICROVM_KERNEL_ARGS AG_EGRESS_PROXY_TRANSPARENT_HTTP_PORT AG_HARNESS_NETNS_CIDR AG_VM_LAUNCHER_HARNESS_PROXY_IP AG_VM_LAUNCHER_HARNESS_PLATFORM_IP
PassEnvironment=AG_VM_LAUNCHER_HARNESS_MEMORY_BYTES AG_VM_LAUNCHER_HARNESS_NANO_CPUS AG_VM_LAUNCHER_HARNESS_PIDS_LIMIT AG_VM_LAUNCHER_HARNESS_MAX_RUNTIME_SECONDS AG_VM_LAUNCHER_HARNESS_IDLE_TIMEOUT_SECONDS
Restart=on-failure
RestartSec=2s
KillMode=mixed
TimeoutStopSec=45s
UMask=0077

[Install]
WantedBy=multi-user.target
